[project]
	description = Facebook SDK for iOS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Menno Pruijssers (mennopruijssers)
[access "refs/for/refs/*"]
	read = group user/Menno Pruijssers (mennopruijssers)
	push = group user/Menno Pruijssers (mennopruijssers)
	label-Code-Review = -2..+2 group user/Menno Pruijssers (mennopruijssers)
	label-Verified = -1..+1 group user/Menno Pruijssers (mennopruijssers)
	rebase = group user/Menno Pruijssers (mennopruijssers)
	removeReviewer = group user/Menno Pruijssers (mennopruijssers)
	submit = group user/Menno Pruijssers (mennopruijssers)
[access "refs/heads/*"]
	read = group user/Menno Pruijssers (mennopruijssers)
	create = group user/Menno Pruijssers (mennopruijssers)
	push = +force group user/Menno Pruijssers (mennopruijssers)
	pushMerge = group user/Menno Pruijssers (mennopruijssers)
[access "refs/tags/*"]
	push = +force group user/Menno Pruijssers (mennopruijssers)
	pushTag = group user/Menno Pruijssers (mennopruijssers)
	pushSignedTag = group user/Menno Pruijssers (mennopruijssers)
